@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif, "Noto Sans TC", sans-serif !important;
}

// 滾輪

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border: 2pt solid transparent;
    border-radius: 3pt;
    background-clip: content-box;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
    border: 3pt solid transparent;
    background-clip: content-box;
}

.custom-scroll-vertical-hover::-webkit-scrollbar-thumb:vertical {
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 0;
}

.custom-scroll-vertical-hover::-webkit-scrollbar-track:vertical {
    background: rgba(255, 255, 255, 0.2);
    border: none;
}

/* Add application styles & imports to this file! */

/* Prismjs theme */
@import "prismjs/themes/prism-okaidia.css";
@import "prismjs/plugins/toolbar/prism-toolbar.css";
@import "prismjs/plugins/line-numbers/prism-line-numbers.css";
/* Available themes */
/*
@import "prismjs/themes/prism.css";
@import "prismjs/themes/prism-coy.css";
@import "prismjs/themes/prism-dark.css";
@import "prismjs/themes/prism-funky.css";
@import "prismjs/themes/prism-solarizedlight.css";
@import "prismjs/themes/prism-tomorrow.css";
@import "prismjs/themes/prism-twilight.css";
*/